<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCTOR APPOINMENT BOOKING SYSTEM</title>
    <link rel="stylesheet" href="css/index.css">
    <!-- <script src="js/index.js"></script> -->
    <style>
        body{
            background: url('images/dbg.jpg');
            background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        }
    </style>
</head>
<body>

    <div class="navbar">
    
       <a href="/admin" style="color:white;">ADMIN</a>
       
    </div>
   
    <h1 id="head1">FIX YOUR APPOINMENTS IN ONLINE</h1>
    
        
        <h2  id="head" style="color:black">HOSPITALS</h2>
        
       
     

       
            <form action="/fixapp" method="POST">
                <div class="wrapper" style="padding:5 px"><h2 style="padding:5 px" >ABC HOSPITAL</h2> 
                    <img src="images/hos.webp" alt="">
                    <button type="submit">FIX YOUR APPOINMENT</button>
                </div>
                
                
            </form>
            
    
        
    
  
  
   
</body>
</html>